body{
    display: flex;
    justify-content: center;
    
}
main{
    margin: 0px 30px;
    background-color: #c4c4c4;
    width: 80%;
    min-height: 100vh;

}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:10px;
    padding-top: 30px;
   grid-template-areas:'item1 item1 item2 item3'
                        'item4 item4 item4  item5'
                        'item6 item6 item6 item6 '
                        'item7 item8 item9 item9'
}
.grid-item{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.grid-item:nth-child(1){
    grid-area: item1;
    background: brown;
  
    
}
.grid-item:nth-child(2){
    grid-area: item2;
    background: yellow;
   
  
}
.grid-item:nth-child(3){
    grid-area: item3;
    background: yellow;
    
   
}
.grid-item:nth-child(4){
    grid-area: item4;
    background: blue;
    
   
}
.grid-item:nth-child(5){
    grid-area: item5;
    background: yellow;
   
   
}
.grid-item:nth-child(6){
    grid-area: item6;
    background:purple;
    

}
.grid-item:nth-child(7){
    grid-area: item7;
    background: yellow;
   
    
}
.grid-item:nth-child(8){
    grid-area: item8;
    background: yellow;
   
   
}
.grid-item:nth-child(9){
    grid-area: item9;
    background: lightblue;
  
   
}
.hint{
    text-align: center;
    padding-top: 20px;
}
h1{
    font-size: 2rem;
    padding-top: 10px;
    margin: 10px auto;
    text-align: center;
}