@media screen and (min-width: 768px) and (max-width: 1024px) {
  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .content .informace {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }
  .content .informace a {
    width: auto !important;
  }
  .content .informace a .flex {
    width: auto;
  }
  .content .informace a .flex img {
    width: 70px !important;
  }
  .content .informace a .flex span {
    font-size: 1.125rem !important;
  }
}
@media screen and (min-width: 1025px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .informace {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr !important;
    width: -moz-min-content;
    width: min-content;
    margin: 0 auto;
    gap: 3rem !important;
    row-gap: 7rem !important;
  }
  .informace .flex {
    width: auto !important;
  }
  .informace .flex img {
    width: 75px !important;
  }
  .informace .flex span {
    font-size: 1.125rem !important;
  }
}
.burger {
  transition: opacity 0.2s;
  z-index: 1000;
}
.burger .line {
  width: 30px;
  height: 3px;
  background: #000;
  margin: 5px 0;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.burger:hover {
  opacity: 0.5;
}

.nav-bar {
  background: #CBC1B1;
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 2.5rem;
  align-content: center;
  align-items: center;
  z-index: 1000;
  position: relative;
}

.nav {
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  background: #CBC1B1;
  transition: 0.5s;
  height: 0;
  /* padding: 1rem;*/
  z-index: 1000;
}
.nav ul {
  display: flex;
  margin: 0 auto;
  gap: 10px;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  transition: 0.5s;
  opacity: 0;
}
.nav ul li {
  list-style: none;
}
.nav ul a {
  text-decoration: none;
  color: black;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
  background: transparent;
  transition: background-color 0.2s;
}
.nav ul a:hover {
  scale: 1.5;
  background-color: rgb(174, 174, 174);
}
.nav ul a:focus {
  scale: 1.5;
  background-color: rgb(174, 174, 174);
}

.nav.active {
  height: auto;
  padding: 1rem;
}

.nav.active ul {
  opacity: 1;
}

.active .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.active .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.active .line:nth-child(2) {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
  .nav {
    position: unset;
    background: #CBC1B1;
    transition: 0.5s;
    height: auto;
    z-index: 1000;
    padding: 1rem 0rem;
  }
  .nav ul {
    opacity: 1;
    flex-direction: row;
    gap: 30px;
  }
  .nav ul a {
    font-size: 1rem;
  }
  .logo {
    width: 120%;
  }
  .nav-bar {
    padding: 0px 3.5rem;
    height: 6.875rem;
  }
}
.foot {
  background: #CBC1B1;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.foot .odkazy {
  text-align: center;
  text-decoration: none;
  border: none;
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
  opacity: 1;
  transition: opacity 0.2s;
  font-weight: 600;
}
.foot .odkazy:hover {
  opacity: 0.5;
}

@media screen and (min-width: 480px) {
  .foot {
    height: 6.875rem;
    padding: 0px 2rem;
  }
}
html, body {
  font-family: "Lato", sans-serif;
}

.container {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.content {
  margin: 69px 40px;
  flex: 1;
}
.content .informace {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
}
.content .informace a {
  text-decoration: none;
  color: black;
  width: 100%;
  opacity: 1;
  transition: opacity 0.2s;
}
.content .informace a:hover {
  opacity: 0.5;
}
.content .informace .flex {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  width: 100%;
}
.content .informace .flex span {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */