*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', Helvetica,Arial, sans-serif;
    

}

body {


display: flex;
flex-direction: column;
    min-height: 100vh;
width: 100%;

}
ul{
display:flex;
justify-content:center;

}



a{
	text-decoration:none;
    color:white;
    opacity:0.75;
    transition:opacity 0.35s;
    font-size:1rem;
	
}
a:hover,a:active{
	opacity:1;
    border-bottom: 1px solid #ffffff;
}
nav{
    margin:1rem 0rem;
}


header {
width: 100%;
flex:0.05;

display: flex;
justify-content: center;
background: black;
align-items: center;
z-index: 999;
position: fixed;
top: 0;
left: 0;
backdrop-filter: blur(3px);


}


main {
flex: 0.85;
background-image:url("Background.jpg");
margin-top: 54px;
position: relative;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
}

footer {
    flex: 0.15;
    background-color:#000;
    text-align: inherit;
    display: flex;
   
    align-items: flex-end;
    padding: 0.5rem 0.5rem
    
}
footer p{
    color: #FFF;
}
nav li{
    margin:0.2rem 0rem;
    list-style: none;
    padding: 0rem 1rem;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
main img{
    width: 80%;
   

}